<div class="container-fluid">
    <div class="row">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let item of banners; let index = index " [class.active]="index == 0">
                    <img [src]="item" class="d-block w-100" alt="..." />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <app-latest></app-latest>
</div>